extends layout

block content
    h1 Add Article
    if(errors)
        .alert.alert-danger
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            for error in errors
                div=error.msg 
    form(method="POST", action="/articles/add")
        #form-group
            label Title:
            input.form-control(name="title", type="text")
        #form-group
            label Body:
            textarea.form-control(name="body")
        br
        input.btn.btn-primary(type="submit",value="Submit")
            