extend layout

block content
    h1 #{article.title}
    h5 written by #{author}
    p= article.body
    hr
    if user
        if user.id == article.author
            a.btn.btn-default(href='/articles/edit/' + article._id) Edit
            a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete