extends layout

block content
    h1 #{title}
    form(method="POST", action="/articles/edit/" +article._id)
        #form-group
            label Title:
            input.form-control(name="title", type="text", value=article.title)
        #form-group
            label Body:
            textarea.form-control(name="body") #{article.body}
        br
        input.btn.btn-primary(type="submit",value="Save changes")
            