extends layout

block content
    h1 #{title}
    - var messages = getMessages()
    if messages.notify
        .alert.alert-success
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            each msg in messages
                .info= msg
    ul.list-group
        each article, i in articles
            li.list-group-item 
                a(href="/articles/" + article._id)  #{article.title}
