html
    head
        title Knowledgebase
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/main.css')

    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
          a.navbar-brand(href='/') HusseinH
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarsExampleDefault.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/')
                  | Home 
                  span.sr-only (current)
              if user
                li.nav-item
                  a.nav-link(href='/articles/add') Add Article
            ul.navbar-nav.navbar-right
              if user
                li.nav-item
                  a.nav-link.active(href='/users/logout') Logout
              else
                li.nav-item
                  a.nav-link.active(href='/users/register') Register
                li.nav-item
                  a.nav-link.active(href='/users/Login') Login
        div.container
           block content
           br
           hr
           footer
                p Copyrights &copy; 2017
        script(src='/bower_components/jquery/dist/jquery.js')        
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')        

