extends layout

block content
    h1 Login
    - var messages = getMessages()
    if messages.notify
        .alert.alert-success
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            each msg in messages
                .info= msg
    if messages.asklogin
        .alert.alert-danger
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            each msg in messages
                .info= msg
    if(errormsgs)
        .alert.alert-danger
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            div=errormsgs
    form(method="POST", action="/users/login")
        #form-group
            label Username:
            input.form-control(name="username", type="text")
        #form-group
            label Password:
            input.form-control(name="password", type="password")
        br
        input.btn.btn-primary(type="submit",value="Login")
            