extends layout

block content
    h1 Register
    if(errors)
        .alert.alert-danger
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            each error in errors
                div=error.msg
    form(method="POST", action="/users/register")
        #form-group
            label Name:
            input.form-control(name="name", type="text")
        #form-group
            label Email:
            input.form-control(name="email", type="text")
        #form-group
            label Username:
            input.form-control(name="username", type="text")
        #form-group
            label Password:
            input.form-control(name="password", type="password")
        #form-group
            label Confirm password:
            input.form-control(name="password2", type="password")      
        br
        input.btn.btn-primary(type="submit",value="Create My Account")
            